<!-- <form action="where it needs to rextion" method="post">
<input type="text" name="name">
<input type="text" name="subject">
<textarea name="descrption"></textarea>
<input tupe="sbumit">
</form> -->
<!-- form_for - object -->
<!-- form_tag - "/blogs/update" -->
<%= render "form"%>
